<a href="https://colab.research.google.com/github/hala317/python/blob/main/studyPY_2day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num3 =int(input('정수입력>> '))

result = '짝수' if num3 %2==0 else '홀수'
print(f'{num3} 는 {result} 입니다.')


# if num3 % 2 == 0:
#    print ( '짝수 입니다.') 
    
#   else: 
#       print('홀수입니다')
    
# print(f' a%2==0 : 는 짝수입이다.') if a%2 else print(f' a%2 != 0 : 는 홀수입니다.'')

정수입력>> 3
3 는 홀수 입니다.

In [ ]:
a=int(input('정수입력>> '))
b=int(input('정수입력>> '))
c=(a-b)*-1      #############
print( '두 수의 차: ', c )

print('두 수의 차 : ',b-a) if a<b else print('두 수의 차 : ',a-b)

####   print(f' b-a : {b-a}) if a< b else print(f' a-b : {a-b}')

정수입력>> 3
정수입력>> 10
두 수의 차:  7
두 수의 차 :  7

In [ ]:
#조건문
#-if, elif, else



if False:    #true false 앞 대문자로 작성
    print('실행문장실행')
    
print('if 문 밖에 있는 문장 실행')

if 문 밖에 있는 문장 실행

In [ ]:
num = int(input('정수 입력 >> '))

if num%3==0 or num%5==0:
    print('3과 5의 배수입니다.')
else :
    print('3과 5의 배수가 아닙니다.')

정수 입력 >> 3
3과 5의 배수입니다.

In [ ]:
num1 = int(input('첫번째 정수 입력>> '))
num2 = int(input('주번째 정수 입력>> '))

if num1 > num2 :
    print('첫번째 정수가 더 큽니다.')
elif num1 < num2:
    print('두번째 정수가 더 큽니다.')
elif num1 == num2:
    print('두 수가 똑같습니다.')

첫번째 정수 입력>> 3
주번째 정수 입력>> 5
두번째 정수가 더 큽니다.

In [ ]:
b= [1, 2, 3, 10, 11, 12]

#d에 있는 숫자가 중 10 미만은 그대로 출력하고 10이상은  1의 자리만 추력하고 싶습니다. 

for i in b:
  if i <10:
    print(i)
  else:
    print(i -10)

1
2
3
0
1
2

In [ ]:
score = int(input('점수입력>> '))

if score >= 100:
    print(f' {score} 점은 A학점 입니다.')
elif score >=80:
    print(f'{score} 점은 B학점 입니다.')
elif score >=70:
    print(f'{score} 점은 C학점 입니다.')
elif score >=60:
    print(f'{score} 점은 D학점 입니다.')
elif score < 60:
    print(f'{score} 점은 F학점 입니다.')

점수입력>> 80
80 점은 B학점 입니다.

In [ ]:
coin = int(input('insert coin >> '))
choice = int(input('메뉴선택 >> '))
choice1 = 600
choice2= 800
choice3 = 1000


if choice1 ==1:
   charge1= coin-choice1
   print(f'잔돈은 1000원 {charge1//1000}개, 500원{charge1//500}개, 100원{charge1//100}개' ) 
elif choice2 == 2:
    charge2= coin-choice2
    print(f'잔돈은 1000원 {charge2//1000}개, 500원{charge2//500}개, 100원{charge2//100}개' ) 
elif choice3 ==3:
    charge3= coin-choice3
    print(f'잔돈은 1000원 {charge3//1000}개, 500원{charge3//500}개, 100원{charge3//100}개' )

insert coin >> 2000
메뉴선택 >> 2

In [ ]:
coin = int(input('insert coin >> '))
choice = int(input('메뉴선택 >> '))
choice = i
choice1 = 600
choice2= 800
choice3 = 1000

charge= coin-choice
th=charge//1000
h5=charge%1000//500
h=charge%500//100


if choice ==1:
    print('잔돈 1000원 %d개, 500원 %d개, 100원 %d개'%(th,h5,h)) 
elif choice == 2:
    print('잔돈 1000원 %d개, 500원 %d개, 100원 %d개'%(th,h5,h))
elif choice ==3:
    print('잔돈 1000원 %d개, 500원 %d개, 100원 %d개'%(th,h5,h))

insert coin >> 1800
메뉴선택 >> 1

In [ ]:
a = []
b= [1,2,3]
c=['my', 'name']
d=[1,2,'my', 'name']
e=[1,2, ['my', 'name']]
print(e)

[1, 2, ['my', 'name']]

In [ ]:
list1=[2,5,7,9,10]
print(list1[0])
print(list1[2])
print(list1[2]+list1[-1])

2
7
17

In [ ]:
list2 = [1, 2, 3, ['a','b','c']]
list2

[1, 2, 3, ['a', 'b', 'c']]

In [ ]:

temp = list2[3]
print(temp)

['a', 'b', 'c']

In [ ]:
#b를 출력하기
print(temp[1])
print(list2[3][1])

b
b

In [ ]:
list3 = [0, 1, 2, 3, 4] 
print(list3[1:3])
print(list3[:2])
print(list3[3:4])

[1, 2]
[0, 1]
[3]

In [ ]:
list4=[1, 2, 3]
list5=[3, 4, 5, 6]
list4+ list5

[1, 2, 3, 3, 4, 5, 6]

In [ ]:
list6=[0, 1, 2, 3, 4]
list6.append(5)
print(list6)

[0, 1, 2, 3, 4, 5]

In [ ]:
fruit_list=['사과', '포도', ['수박', '멜론'], '복숭아', '딸기', '오렌지']

choice_list=[]
choice_list.append(fruit_list[0])
choice_list.append(fruit_list[-1])
choice_list.append(fruit_list[2][0])
choice_list

['사과', '오렌지', '수박']

In [ ]:
list5 = [0, 1, 2, 3, 4]
list5.insert(1,5)
print(list5)

[0, 5, 1, 2, 3, 4]

In [ ]:
list5.insert(5,6)
print(list5)

[0, 5, 1, 2, 3, 6, 4]

In [ ]:
music_list=[['butter','bts'],['헤픈우연','헤이즈'],['라일락','아이유']]

loc = int(input('인덱스 위치 입력 >> '))
song= input('노래 제목 입력 >> ')
singer= input('가수 입력 >> ')

music_list.insert(loc, [song, singer])

print('music_list: ',music_list)

인덱스 위치 입력 >> 3
노래 제목 입력 >> 삐삐
가수 입력 >> 아이유
music_list:  [['butter', 'bts'], ['헤픈우연', '헤이즈'], ['라일락', '아이유'], ['삐삐', '아이유']]