<a href="https://colab.research.google.com/github/hala317/python/blob/main/studyPY_5day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#구구단 
n=int(input('몇단? : '))
for i in range(1,10):
  print(n, "x", i, "=", n*i)

몇단? : 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [ ]:
n=int(input('몇단? : '))
i=1
while i< 10:
   print(n, "x", i, "=", n*i)
   i=i+1

몇단? : 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [ ]:
#숫자 하나를 입력 받아 0까지 카운트 다운 수행하는 프로그램 
n=int(input('몇부터? : '))
numbers=[]

for i in range(1,n+1):
  x=input('숫자'+str(i)+': ')
  numbers = numbers+[x]
for i in range(n-1, -1, -1):
    print(numbers[i])

몇부터? : 3
숫자1: 19
숫자2: 18
숫자3: 23
23
18
19

In [ ]:
from typing import AsyncGenerator
student = int(input('몇 명? : '))

age = 0

for i in range(1, student+1):
  x=int(input('학생'+str(i)+': '))
  age = age+x
 
print('평균: ', age / student)

몇 명? : 3
학생1: 18
학생2: 19
학생3: 23
평균:  20.0

In [ ]:
age_sum = 0
for i in range(1, n+1):
    age = int(input("학생 "+str(i)+": "))
    age_sum = age_sum+age
print("평균: ", age_sum/n)

In [ ]:
n=int(input('몇부터? : '))
numbers=[]
for i in range(n, 0, -1):
    numbers = numbers+[i]
    print(i)

몇부터? : 3
3
2
1